# Learn more about configuring your app at https://shopify.dev/docs/apps/tools/cli/configuration

client_id = "ef70e2c3f9596ad4cea9391bb48b6d4d"
name = "Ajmera Form Manager"
application_url = "https://app.ajmeratyres.com"
embedded = true

[build]
automatically_update_urls_on_dev = true

[webhooks]
api_version = "2026-04"

  [[webhooks.subscriptions]]
  topics = [ "app/uninstalled" ]
  uri = "/webhooks/app/uninstalled"

[access_scopes]
# Learn more at https://shopify.dev/docs/apps/tools/cli/configuration#access_scopes
scopes = "write_products"

[auth]
redirect_urls = [ "https://app.ajmeratyres.com/api/auth" ]

[app_proxy]
url = "https://app.ajmeratyres.com"
subpath = "ajmeraTyres"
prefix = "apps"
